.banner{
    align-items: center;
    background:url('../../images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__title{
    color: var(--white);
    font-family: var(--ff-fraunces);
    font-size: 4rem;
    letter-spacing: 0.8rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 768px) {
    .banner{
        background:url('../../images/desktop/image-header.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: 50%;
    }

    .banner__title{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 375px) {
    .banner{
        background:url('../../images/mobile/image-header.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }

    .banner__title{
        font-size: 2.5rem;
    }
}