.squares{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}

.square{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square__img{
    width: 100%;
}

.square__title{
    color: var(--very-dark-desaturated-blue);
    font-size: 2rem;
    font-family: var(--ff-fraunces);
    margin-bottom: 2rem;
    padding-left: 20%;
    width: 60%;
}

.square__paragraph{
    color: var(--dark-grayish-blue);
    line-height: 1.5rem;
    margin-bottom: 2rem;
    width: 60%;
    padding-left: 20%;
}

.square__link{
    color: var(--very-dark-desaturated-blue);
    font-family: var(--ff-fraunces);
    text-transform: uppercase;
    padding-left: 20%;
}


.square__bottom__left{
    background: url('../../images/desktop/image-graphic-design.jpg');
    color: var(--dark-desaturated-cyan);
}

.square__bottom__right{
    background: url('../../images/desktop/image-photography.jpg');
    color: var(--dark-blue);
}

.square__bottom{
    align-items: center;
    background-repeat: no-repeat;
    height: 90vh;
    text-align: center;
    justify-content:end;
}

.square__bottom__title{
    font-family: var(--ff-fraunces);
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.square__bottom__param{
    padding-bottom: 10%;
    width: 50%;
}