@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root{
    --light-blue: #3dbeff;
    --light-blue-transparent: hsla(200, 100%, 77%, 0.753);

    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);

    --light-green:hsl(168.17,45.22%,69.22%);

    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    --ff-barlow: 'Barlow', sans-serif;
    --ff-fraunces: 'Fraunces', serif;
}

body{
    font-family: var(--ff-barlow);
}

.header{
    align-items: center;
    background: var(--light-blue);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
}

.header__logo{
    margin-left: 2rem;
}

.nav{
    display: flex;
}

.menu{
    align-items: center;
    color: var(--white);
    display: flex;
}

.btn-menu{
    background: var(--light-blue);
    border: none;
    color: var(--white);
    display: none;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.menu__item{
    margin-right: 2rem;
}

.btn__item{
    background: var(--white);
    border-radius: 2rem;
    color: var(--very-dark-desaturated-blue);
    cursor: pointer;
    font-family: var(--ff-fraunces);
    padding: 0.8rem 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s linear;
}

.btn__item:hover{
    color: var(--white);
    background: var(--light-blue-transparent);
}

@media screen and (max-width: 768px) {

    .header{
        text-align: center;
        position: relative;
        width: 100%;
    }

    .btn-menu{
        display: flex;
    }

    .nav{
        align-items: center;
        margin: 400px auto 0 auto;
        position: absolute;
        justify-content: center;
        display: none;
        width: 100%;
    }

    .menu{
        background: var(--white);
        color: var(--dark-grayish-blue);
        flex-direction: column;
        line-height: 1.5rem;
        width: 600px;
        padding: 2rem 1rem;
        margin: 0 auto;
    }

    .menu__item{
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .btn__item{
        background: var(--yellow);
    }
}

@media screen and (max-width: 375px) {

    .header{
        position: relative;
        width: 100%;
    }

    .btn-menu{
        display: flex;
    }

    .nav{
        align-items: center;
        margin: 400px auto 0 auto;
        position: absolute;
        justify-content: center;
        display: none;
        width: 100%;
    }

    .menu{
        background: var(--white);
        color: var(--dark-grayish-blue);
        flex-direction: column;
        line-height: 1.5rem;
        width: 300px;
        padding: 2rem 1rem;
        margin: 0 auto;
    }

    .menu__item{
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .btn__item{
        background: var(--yellow);
    }
}