.testimonials{
    background: var(--light-yellow);
    padding: 6rem 2rem;
}
.testimonials__title{
    color: var(--dark-grayish-blue);
    font-family: var(--ff-fraunces);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-align: center;
}

.list-testimonial{
    align-items: center;
    display: flex;
    padding-top: 5rem;
}

.testimonial{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.testimonial__img{
    border-radius: 50%;
    margin-bottom: 2rem;
    width: 50px;
}

.testimonial__desc{
    color: var(--very-dark-grayish-blue);
    line-height: 1.5rem;
    padding-bottom: 2rem;
    width: 80%;
}

.author__name{
    color: var(--very-dark-desaturated-blue);
    font-family: var(--ff-fraunces);
    font-weight: 800;
    margin-bottom: 1rem;
}

.author__job{
    color: var(--grayish-blue);
}

@media screen and (max-width: 768px) {
    .testimonial{
        padding: 2rem 0;
    }

    .testimonials__title{
        font-size: 1.5rem;
    }

    .list-testimonial{
        flex-direction: column;
    }

    .testimonial__desc{
        width: 100%;
    }  
}

@media screen and (max-width: 375px) {
    .testimonial{
        padding: 2rem 0;
    }

    .testimonials__title{
        font-size: 1.5rem;
    }

    .list-testimonial{
        flex-direction: column;
    }

    .testimonial__desc{
        width: 100%;
    }  
}